<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="jpf5321.cs.psu.edu.medicalapplication">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/app_icon"
            android:label="@string/title"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".SplashActivity"
                android:screenOrientation="portrait"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".MainActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".SignUpActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ProfileActivity">
        </activity>
        <activity android:name=".RecordActivity">
        </activity>
        <activity android:name=".UpdaterecordActivity">
        </activity>
        <activity android:name=".CreateRecordActivity">
        </activity>
        <activity android:name=".ChatActivity">
        </activity>
    </application>

</manifest>